<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
       
            <div class="container-fluid main-card   col-xxl-4 col-xl-6 col-lg-6 col-md-8  col-sm-11 ">
                <div class="row inputsInCard col-lg-12 col-md-12">
                    <form action="/" method="Post">
                    <input type="search" name="search" id="search" placeholder="Enter a city name" >
                    <input type="submit" value="Search" id="searchButton">
                    </form>
                </div>
                <div class="row theCity mt-3 mb-2" >  
                    <% if (cityName) { %>
                        <h1><%= cityName %></h1>
                    <% } %>
                </div>
                <div class="row icon mb-2 ">
                    
                   
                        <% if (iconId === "01d") { %>
                            <img src="images/sun.png" alt="sun icon">
                        <% } else if(iconId==="03d"|| iconId==="03n") { %>
                            <img src="images/scatteredClouds.png" alt="scatteredClouds icon">
                            <% } else if(iconId==="04d"|| iconId==="04n") { %>
                                <img src="images/overcastClouds.png" alt="overcastClouds icon">
                            <% }else if(iconId==="10d") { %>
                                <img src="images/light-rain.png" alt="light-rain icon">
                            <% }else if(iconId==="02d"|| iconId==="02n") { %>
                                <img src="images/fewClouds.png" alt="fewClouds icon">
                            <% }else { %>
                            <img src="<%= iconUrl %>" alt="Scattered Clouds">
                        <% } %>
                    
                        
                    
                    
                </div>
                <div class="row degree col-lg-12 col-md-12">
                    <span><%= celcius %>°C</span>    
                </div>
                <div class="row stateTheWeather col-lg-12 col-md-12">
                    <span><%= howIsTheWeather %></span>
                </div>
                
                <div class="row endOfCard col-lg-12 col-md-12">
                    <div class="div last col-lg-6 humidity">
                    <span><i class="fa-solid fa-temperature-high" style="color: black;"></i> <%= humidity %>%</span>
                    <span>Humidity</span>
                    </div>
                    <div class="div last col-lg-6 ">
                    <span> <i class="fa-solid fa-wind"style="color: black;"></i> <%= wind %>km/h</span>
                    <span>Wind Speed</span>
                    
                    </div>

                </div>

        </div>

        <footer><p>Copyright © 2024</p>
        
        </footer>


</body>
</html>